
body {
	background: url('background.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.autoanswer-checkbox {
	color: white;
}